*{
	margin:0;
	padding:0;
	text-decoration: none;
	list-style: none;
}
/* 头部开始 */
header{
	width:100%;
	height:0.92rem;
	background: #0078e6;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.ceng{
	width:100%;
	height:0.92rem;
}
.logo{
	width:2.05rem;
	height: 0.92rem;
	/* background: pink; */
	margin: 0 auto;
}
.logo-box{
	width: 0.72rem;
	height: 100%;
	/* background: blue; */
	float: left;
}
.logo-box img{
	width: 0.72rem;
	height: 0.67rem;
	display: block;
	margin-top: 0.13rem;
}
.logo-right{
	width: 1.33rem;
	height: 100%;
	/* background: greenyellow; */
	float: left;
	font-size: 0.33rem;
	text-align: center;
	line-height: 0.92rem;
	color: #fff;
}
/* 头部结束*/
/* banner开始 */
.banner{
	width: 100%;
	height: 2.8rem;
    background: pink;
}
.banner img{
	width: 100%;
	height: 100%;
	display: block;
}
/* banner结束 */
/* 首页开始 */
.first{
	width: 100%;
	height: 0.72rem;
	background: #f5f6fa;
	font-size: 0.21rem;
	color: #4B4949;
	line-height: 0.72rem;
	padding-left: 0.23rem;
	box-sizing: border-box;
}
.first a{
	color: #4B4949;
}
/* 介绍开始 */
.jieshao-box{
	width: 100%;
	height: 1.01rem;
	background: #F5F6FA;
}
.jieshao-box main{
	width: 7.02rem;
	height: 100%;
	/* background: #fff; */
	margin: 0 auto;
}
.ui{
	width: 100%;
	height: 0.8rem;
	/* background: red; */
	border-bottom: 0.02rem solid #14BFFD;
	border-top: 0.02rem solid #14BFFD;
	border-right: 0.02rem solid #14BFFD;
	box-sizing: border-box;
	border-radius: 0.07rem;
}
.jiangshi{
	width: 2.6rem;
	height: 0.78rem;
	background: #01B5FF;
	border-radius: 0.07rem;
	font-size:0.25rem;
	text-align: center;
	line-height: 0.78rem;
	color: #fff;
	float: left;
}
.move{
	width: 1.98rem;
	height: 0.76rem;
	/* background: pink; */
	float: left;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.76rem;
}
.php{
	width: 2.35rem;
	height: 0.76rem;
	/* background: green; */
	float: left;
	font-size: 0.24rem;
	text-align: center;
	line-height: 0.76rem;
}
.sanjiao{
	width: 0.21rem;
	height: 0.12rem;
	margin-left: 1.19rem;
	margin-top: -0.03rem;
}
.square{
	width: 0;
	height: 0;
	border-top: 0.21rem  solid #01B5FF;
	border-left: 0.21rem solid  transparent;
	border-right: 0.21rem solid  transparent;
	border-bottom: 0.21rem  solid  transparent;
}
/* 介绍结束 */
/* 老师介绍开始 */
.teacher{
	width: 100%;
	height: 13.9rem;
	background: #F5F6FA;
}
.teacher main{
	width: 7.02rem;
	height: 100%;
	background: #F5F6FA;
	margin: 0 auto;
}
.teacher-box{
	width: 7.02rem;
	height: 100%;
	/* background: #F5F6FA; */
	margin: 0 auto;
}
.teacher-box li{
	width: 100%;
	height: 2.7rem;
	background: #fff;
	margin-bottom: 0.1rem;
	display: flex;
	align-items: center;
}
.teacher-box .last-teacher{
	margin-bottom: 0;
}
.t-img{
	width: 2.3rem;
	height: 2.3rem;
	/* background: blue; */
	float: left;
	margin-left: 0.21rem;
	margin-right: 0.29rem;
}
.t-img img{
	width: 2.3rem;
	height: 2.3rem;
	display: block;
}
.teacher-word{
	width: 4.22rem;
	height: 1.98rem;
	float: left;
	/* background: blue; */
}
.teacher-top{
	width: 100%;
	height: 0.45rem;
	/* background: green; */
	border-bottom: 0.01rem solid #fff;
	padding-bottom: 0.1rem;
	box-sizing: border-box;
}
.t-left{
	width: 1.72rem;
	height: 100%;
	background: #fff;
	border-bottom: 0.01rem dashed #999999;
	font-size: 0.25rem;
	float: left;
	padding-bottom: 0.1rem;
}
.t-right{
	/* width: 1.33rem; */
	height: 0.35rem;
	background: #fff;
	float: right;
	font-size:0.22rem;
	padding-right: 0.19rem;
	box-sizing: border-box;
	padding-bottom: 0.1rem;
}
.t-right a{
	color: #FF9300;
}
.teacher-middle{
	width: 100%;
	height: 0.62rem;
	/* background: red; */
	font-size: 0.22rem;
	color: #01B5FF;
	text-align: left;
	padding-top: 0.05rem;
	box-sizing: border-box;
}

.teacher-bottom{
	width: 100%;
	height: 1.01rem;
	/* background: yellow; */
	font-size: 0.22rem;
	color: #666666;
}
/* 老师介绍结束 */
/* 底部开始 */
.white{
    width: 100%;
    height: 0.19rem;
    background: #F5F6FA;
}
.tubiao{
	width: 100%;
	height: 0.5rem;
}
.tu1{
	width: 0.58rem;
	height: 0.31rem;
	background: pink;
	margin-top: 0.2rem;
	margin-left: 0.1rem;
	float: left;
}
.tu1 img{
	width: 0.58rem;
	height: 0.31rem;
	display: block;
}
.tu2{
	width: 0.31rem;
	height: 0.31rem;
	border: 0.01rem solid #B9B9B9;
	border-radius: 50%;
	margin-top: 0.19rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
	float: left;
}
.stu{
	width: 0.25rem;
	height: 0.25rem;
	border: 0.01rem solid #000;
	border-radius: 50%;
	margin: auto;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	margin-top: 0.02rem;
}
.tu4{
	width: 0.31rem;
	height: 0.31rem;
	border: 0.01rem solid #01B5FF;
	border-radius: 50%;
	margin-top: 0.19rem;
	margin-left: 0.15rem;
	margin-right: 0.15rem;
	float: left;
	background: #01B5FF;
}
.stu4{
	width: 0.25rem;
	height: 0.25rem;
	border: 0.01rem solid #fff;
	border-radius: 50%;
	margin: auto;
	font-size: 0.1rem;
	text-align: center;
	line-height: 0.25rem;
	background: #01B5FF;
	margin-top: 0.02rem;
}
.dian{
	width: 0.3rem;
	height: 100%;
	font-size: 0.02rem;
	text-align: center;
	line-height: 0.7rem;
	/* background: pink; */
	float: left;
}
.stu30{
	width: 0.25rem;
	height: 0.25rem;
	border: 0.01rem solid #000;
	border-radius: 50%;
	margin: auto;
	font-size: 0.05rem;
	text-align: center;
	line-height: 0.25rem;
	margin-top: 0.02rem;
}

.tu10{
	width: 0.58rem;
	height: 0.31rem;
	float: left;
	background: pink;
	margin-top: 0.2rem;
	/* margin-right: 0.39rem; */
}
.tu10 img{
	width: 0.58rem;
	height: 0.31rem;
	display: block;
}
.tiao{
	font-size: 0.14rem;
	color: #000;
	float: left;
	margin-top: 0.17rem;
}
.ye{
	font-size: 0.14rem;
	color: #000;
	float: left;
	margin-top: 0.17rem;
}
footer{
	width: 100%;
	height: 0.95rem;
	background: #F5F6FA;
}
.banquan{
	margin-top: 0.2rem;
	width: 100%;
	text-align: center;
	font-size: 0.12rem;
	color:#666666 ;
	margin-bottom: 0.2rem;
}
.dianhua{
	font-size:0.11rem;
	color: #666; 
	text-align: center;

}
/* 底部结束 */
